@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @{
        ViewBag.Title = "Detalle";
    }*@

@model IEnumerable<EP10Final.Models.donadores>

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aporte_pib)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.continente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productos.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aporte_pib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.continente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porcentajes.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productos.nombre)
            </td>

            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_donador }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_donador }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_donador })
            </td>*@
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





