@model EP10Final.Models.calculos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>calculos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donadores.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donadores.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gasto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gasto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gasto1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gasto1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gasto2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gasto2.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_calculo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
